.App {
    text-align: center;
}
.header{
    background : rgb(53, 65, 175);
    color : #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding: 15px;
}
.body{}
.body ul{
    margin: 0;
    padding: 15px;
}
.body ul li{
    list-style: none;
    padding: 10px;
    margin-top: 10px;
    background: #dddddd;
}
.body ul li span{
    cursor: pointer;
    float: right;
    font-weight: 500;
}
.footer{
    position: fixed;
    background:  rgb(53, 65, 175);
    padding: 15px;
    width: 100%;
    bottom: 0;
}
.footer input{
    width: 90%;
    margin: auto;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 17px;
    height: 35px;
}
.footer input:focus{
    outline: none;
    
}
.footer button{
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: -18px;
    padding-bottom: 10px;
    right: 50px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 26px;
    border: none;
    background:  rgb(53, 65, 175);
    box-shadow: 2px 2px 3px;
}
.footer button:focus{
    outline: none;
}